.header{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: #2167d2;
    text-align: center;
    line-height: 50px;
    z-index:1000;
}

form {
    position: relative;
    left: -10px;
    top: 5px;
    width: 400px;
    margin: 0 auto;
}

input{
    position: absolute; 
    width: 100%;
    left: 0px;
    height: 42px;
    padding-left: 10px;
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
    background: white;
    color: black;
    outline: none !important;
}

.findButton {
    position: absolute; 
    top: 0px;
    right: 0px;
    width: 42px;
    height: 42px;
    border: 2px solid white;
    background: #2167d2;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    outline: none !important;
}

.findButton:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: white;
  }

.findButton:active {
    position: absolute; 
    top: 0px;
    right: 0px;
    width: 42px;
    height: 42px;
    border: 2px solid white;
    background: #90b5d9;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    outline: none !important;
}

.favorites{
    padding-right: 40px;
    float: right;
    color: white;
}

.favoriteIcon{
    padding-right: 40px;
    float: right;
    display: none;
}

.favoriteIcon:before{
    padding: 4px;
    content: "\f004";
    font-family: FontAwesome;
    font-size: 18px;
    color:white;
}

.home {
    position: relative;
    padding-left: 20px; 
    float: left;
    top: 0px;
}

.homeSmall {
    display: none;
}

@media screen and (max-width: 1000px){
    .header{ 
        grid-template-columns: 20px 3fr 0px;
    }

    .home {
        display: none;
    }
    .favoriteText{
        display: none;
    }

    .favorites{
        padding-right: 5px;
    }

    .favoriteIcon{
        padding-right: 3px;
        display: block;
    }

    .homeSmall {
        position: relative;
        left: 5px;
        top: 3px;
        display: block;
    }
    
    .header{
        padding-left: 0px;
        padding-right: 0px;
    }

}


@media screen and (max-width:500px){
    form {
        position: relative;
        width: 200px;
        margin: 0 auto;
    }
}